.parent-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.div1-4 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
}
.div2-4 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}
.div3-4 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .parent-4 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .div1-4 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2-4 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .div3-4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .div4-4 {
        grid-area: 2 / 2 / 3 / 3;
    }
}
